.side_bar
  .user_name
    .user_name_box
      .user_name_box_left ユーザーネーム
      .user_name_box_right
        .user_name_box_right_icon_a
          =link_to "#" do
            =icon('fas', 'edit')
        .user_name_box_right_icon_b
          =link_to "#" do
            =icon("fas", "cog")

  .group_list
    .group_list_box
      .group_list_box_name tech camp
      .group_list_box_message<まだメッセージがありません>
      
      