.main_chat{
// position: absolute;
// top: 0px;
// left: 300px;
  .group_info{
    background-color: #ffffff;
    height: 100px;
    width: calc(100vw - 300px);
    display: flex;
    &_left{
      height: 100px;
      width: calc(100vw - 800px);
      &_top{
        height: 25px;
        width: 120px;
        margin: 35px 0 0 40px;
        font-size: 20px;
        color: #333333;
      }
      &_bottom{
        height: 50x;
        width: 200px;
        margin: 20px 0 0 40px;
        font-size: 12px;
        color: #999999;
      }
    }
    &_right{
      height: 100px;
      width: 120px;
      margin-left: auto;
      &_btn{
        height: 40px;
        width: 72px;
        border: solid 1px;
        color: #38aef0;
        padding: 8px 20px;
        margin: 30px 20px 40px 7px ;
        a{
          text-decoration: none;
          color: #38aef0;
        }
      }
    }
  } 
}    

.message_contents{
  background-color: #fafafa;
  height: calc(100vh - 190px);
  width: calc(100vw - 300px);
  padding: 40px 40px;;
  &_list{
    height: 100px;
    &_text_1{
      height: 30px;
      padding-bottom: 35px;
      display: flex;
      &_name{
        font-weight: bold;
        font-size: 16px;
      }
      &_day{
        font-size: 12px;
        color: #999999;
        margin-left: 10px;
      }
    }
    &_text_2{
      height: 60px;
      margin-bottom: 10px;
      font-size: 14px;
      color: #434A54;
    }  
  }
    &_text2{
      height: 30px;
      padding-bottom: 40px;
      display: flex;
      &_21{
        font-weight: bold;
        font-size: 16px;
      }
      &_22{
        font-size: 12px;
        color: #999999;
        margin-left: 10px;
      }
    }
    &_text_20{
      height: 60px;
      margin-bottom: 10px;
      font-size: 14px;
      color: #434A54;
    }
  }

.message_form{
  background-color: #d2d2d2;
  height: 90px;
  width: calc(100vw - 300px);
  padding: 20px 40px ;
  position: relative;
  &_text{
    height: 50px;
    width: calc(100% - 105px);
    padding: 15px 40px 15px 10px;
    &_image{
      position: absolute;
      top: 30px;
      right: 165px;
      font-size: 25px;
      &_file{
        display: none;
      }
    }
    &_btn{
      background-color: #38aef0;
      height: 50px;
      width: 100px;
      padding: 12px 30px;
      position: absolute;
      bottom: 20px;
      right: 30px;
      color: white;
    }
  }
}
